In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
def load_data(path):
    df = pd.read_csv(path)
    df['date'] = pd.to_datetime(df['date'], format='%d/%m/%y %H:%M', errors='coerce')
    df = df.dropna(subset=['date'])
    return(df)

df = load_data("phone_data.csv")
print("1. Load the dataset into a pandas DataFrame and display the first 5 rows.\n ")
df.head()

1. Load the dataset into a pandas DataFrame and display the first 5 rows.

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [32]:
def data_info(df):
    print("2. Check the basic information about the dataset (data types, non-null counts). \n")
    print(df.info(),'\n')
    print("null value in each column : \n")
    print(df.isnull().sum(),'\n')
    print("3. Display the summary statistics of numerical columns.\n")
    print(df.describe(),'\n')
    
    print("4. Count the number of unique values in each column. \n")
    print(df.nunique())
data_info(df)

2. Check the basic information about the dataset (data types, non-null counts).

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, 0 to 829
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         505 non-null    int64
 1   date          505 non-null    datetime64[ns]
 2   duration      505 non-null    float64
 3   item          505 non-null    object
 4   month         505 non-null    object
 5   network       505 non-null    object
 6   network_type  505 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 31.6+ KB
None

null value in each column :

index           0
date            0
duration        0
item            0
month           0
network         0
network_type    0
dtype: int64

3. Display the summary statistics of numerical columns.

            index                           date     duration
count  505.000000                            505   505.000000
mean   398.540594  2014-12-16 20:58:15.326732544   109.486356
min      0.000000            2014-10-15 06:58:00     1.000000
25%    243.000000            2014-11-18 08:34:00     1.000000
50%    412.000000            2014-12-19 12:40:00    27.000000
75%    611.000000            2015-01-17 18:50:00    54.000000
max    829.000000            2015-03-14 00:16:00  2328.000000
std    239.732396                            NaN   279.310541

4. Count the number of unique values in each column.

index           505
date            456
duration        157
item              3
month             5
network           9
network_type      6
dtype: int64

In [33]:
def total_call_in_data(df):
    print("5. Find the total number of calls made in the dataset.\n")
    total_calls = df[df['item'] == 'call'].shape[0]
    print(total_calls)
total_call_in_data(df)

5. Find the total number of calls made in the dataset.

241

In [34]:
def combine_call_duration(df):
    print("6. Calculate the total duration of all calls combined.\n")
    total_call_duration = df[df['item'] == 'call']['duration'].sum()
    print(total_call_duration)
    
combine_call_duration(df)

6. Calculate the total duration of all calls combined.

52018.0

In [35]:
def total_sms_in_data(df):
    print("7. Count how many SMS messages were sent.\n")
    sms_count = np.sum(df['item'] == 'sms')
    print(sms_count,)

total_sms_in_data(df)

7. Count how many SMS messages were sent.

174

In [36]:
def most_used_network(df):
    print("8. Find the most frequently used mobile network.\n")
    print( df['network'].mode()[0])
    
most_used_network(df)

8. Find the most frequently used mobile network.

Three

In [37]:
def avg_call_duration(df):
    print("9. Calculate the average duration of calls.\n")
    avg_duration = df[df['item'] == 'call']['duration'].mean()
    print(avg_duration)

avg_call_duration(df)

9. Calculate the average duration of calls.

215.8423236514523

In [38]:
def month_with_high_comm(df):
    print("10. Identify the month with the highest number of communications.\n")
    df['hour'] = df['date'].dt.hour
    most_active_month = df['month'].value_counts().idxmax()
    
    print(most_active_month)

month_with_high_comm(df)

10. Identify the month with the highest number of communications.

2015-01

In [39]:
def total_dur_net(df):
    print("11. Group the data by 'network' and calculate the total duration for each network.  \n")
    total_duration =  df.groupby('network')['duration'].sum()
    print(total_duration)
    
total_dur_net(df)

11. Group the data by 'network' and calculate the total duration for each network.

network
Meteor        4665.00
Tesco        11658.00
Three        21644.00
Vodafone      7403.00
data          3098.61
landline      5514.00
special          1.00
voicemail     1304.00
world            3.00
Name: duration, dtype: float64

In [40]:
def higheat_call_in_day(df):
    print("12. Find the day with the highest number of calls.")
    hightest_call_by_day = df[df['item'] == 'call']['date'].value_counts().idxmax()
    print(hightest_call_by_day)

higheat_call_in_day(df)

12. Find the day with the highest number of calls.
2014-10-20 09:43:00

In [41]:
def data_using_vs(df):
    print("13. Calculate the percentage of data usage vs calls vs SMS.\n")

    call_count = (df['item'] == 'call').sum()
    sms_count = (df['item'] == 'sms').sum()
    data_count = (df['item'] == 'data').sum()
    total = call_count + sms_count + data_count
    call_percent = (call_count/total)*100
    sms_percent = (sms_count/total)*100
    data_percent = (data_count/total)*100

    print("\ncall ",call_percent,'\nsms : ',sms_percent,'\ndata : ',data_percent)

data_using_vs(df)

13. Calculate the percentage of data usage vs calls vs SMS.


call  47.72277227722772
sms :  34.45544554455445
data :  17.82178217821782

In [42]:
def new_column(df):
    print("14. Create a new column 'call_type' that categorizes calls as 'short' (<1 min), 'medium' (1-5 min), or 'long' (>5 min).")

In [43]:
def avg_call_for_each_net(df):
    print("15. Calculate the average call duration for each network provider.\n")
    avg_callDU_network = df.groupby('network')['duration'].sum()
    print(avg_callDU_network)

avg_call_for_each_net(df)

15. Calculate the average call duration for each network provider.

network
Meteor        4665.00
Tesco        11658.00
Three        21644.00
Vodafone      7403.00
data          3098.61
landline      5514.00
special          1.00
voicemail     1304.00
world            3.00
Name: duration, dtype: float64

In [44]:
def highest_avg_call_dur(df):
    print("16. Find the network with the highest average call duration.")
    calls_df = df[df['item'] == 'call']
    avg_call_by_each_nt = calls_df.groupby('network')['duration'].mean()
    highest_avg_network = avg_call_by_each_nt.idxmax()
    print(highest_avg_network)

highest_avg_call_dur(df)

16. Find the network with the highest average call duration.
Three

In [45]:
def comm_occurred_on_data(df):
    print("17. Count how many communications occurred on each date.")

    df['only_date'] = df['date'].dt.date
    comm_count_per_day = df.groupby('only_date').size().reset_index(name='communication_count')
    print(comm_count_per_day)
    
comm_occurred_on_data(df)

17. Count how many communications occurred on each date.
     only_date  communication_count
0   2014-10-15                    6
1   2014-10-16                    7
2   2014-10-17                   13
3   2014-10-18                   13
4   2014-10-19                    6
..         ...                  ...
86  2015-02-26                    3
87  2015-02-27                    4
88  2015-02-28                   12
89  2015-03-13                    3
90  2015-03-14                    2

[91 rows x 2 columns]

In [46]:
def calculate_comm_for_each_day(df):
    print("18. Calculate the total duration of communications for each day.")
    total_duration_each_day = df.groupby(df['date'].dt.date)['duration'].sum()
    print(total_duration_each_day)

calculate_comm_for_each_day(df)

18. Calculate the total duration of communications for each day.
date
2014-10-15      82.429
2014-10-16    2890.429
2014-10-17     514.429
2014-10-18    3127.429
2014-10-19     662.429
                ...
2015-02-26     633.429
2015-02-27     296.429
2015-02-28    1341.429
2015-03-13      36.429
2015-03-14       2.000
Name: duration, Length: 91, dtype: float64

In [47]:
def most_activ_hour_of_comm(df):
    print("19. Find the most active hour of communication (assuming all occurred at same time for this dataset).\n")
    df['hour'] = df['date'].dt.hour
    hour_counts = df['hour'].value_counts()
    most_active = hour_counts.idxmax()
    print(most_active)

most_activ_hour_of_comm(df)

19. Find the most active hour of communication (assuming all occurred at same time for this dataset).

6

In [48]:
def call_sms_data_plivot_table(df):
    print("20. Create a pivot table showing the count of each item type (call, sms, data) per network.\n")
    table =  pd.pivot_table(df, index='network', columns='item', aggfunc='size', fill_value=0)
    print(table)

call_sms_data_plivot_table(df)

20. Create a pivot table showing the count of each item type (call, sms, data) per network.

item       call  data  sms
network
Meteor       31     0   22
Tesco        51     0   10
Three        81     0   51
Vodafone     34     0   87
data          0    90    0
landline     26     0    0
special       0     0    1
voicemail    18     0    0
world         0     0    3

In [49]:
def avrage_of_2day(df):
    print("21. Calculate the rolling 2-day average of call durations.\n")
    df['date_only'] = pd.to_datetime(df['date']).dt.date
    calls = df[df['item'] == 'call'].groupby('date_only')['duration'].sum()
    avg = calls.rolling(2).mean()
    print(avg)

avrage_of_2day(df)

21. Calculate the rolling 2-day average of call durations.

date_only
2014-10-15       NaN
2014-10-16    1451.0
2014-10-17    1662.5
2014-10-18    1780.0
2014-10-19    1858.5
               ...
2015-02-24     144.5
2015-02-25     582.0
2015-02-26     828.0
2015-02-27     430.5
2015-02-28     783.5
Name: duration, Length: 73, dtype: float64

In [50]:
def anomalies_in_call(df):
    print("22. Identify any anomalies in call durations (values beyond 3 standard deviations from mean).\n")
    
    calls_df = df[df['item'] == 'call']
    
    mean_duration =  calls_df['duration'].mean()
    std_duration =  calls_df['duration'].std()
    
    upper_limit = mean_duration + 3 * std_duration
    lower_limit = mean_duration - 3 * std_duration

    anomalies = calls_df[(calls_df['duration'] > upper_limit) | (calls_df['duration'] < lower_limit)]
    
    print(anomalies[['date', 'duration', 'network']])
    
anomalies_in_call(df)

22. Identify any anomalies in call durations (values beyond 3 standard deviations from mean).

                   date  duration   network
31  2014-10-18 13:10:00    1714.0     Three
59  2014-10-23 08:34:00    1940.0  landline
252 2014-11-19 18:56:00    2120.0     Three
398 2014-12-17 18:08:00    1859.0  Vodafone
648 2015-01-25 16:55:00    1863.0     Three
742 2015-02-17 19:09:00    2328.0     Three

In [51]:
def datafram(df):
    print("23. Create a new DataFrame that shows the count and total duration of each item type per month.\n")
    df['month'] = df['date'].dt.month
    summary = df.groupby(['month', 'item']).agg(
    count=('item', 'count'),
    total_duration=('duration', 'sum')
    ).reset_index()
    print(summary)

datafram(df)

23. Create a new DataFrame that shows the count and total duration of each item type per month.

    month  item  count  total_duration
0       1  call     50       11997.000
1       1  data     19         654.151
2       1   sms     27          27.000
3       2  call     32        6925.000
4       2  data     16         550.864
5       2   sms     12          12.000
6       3  data      1          34.429
7       3   sms      4           4.000
8      10  call     58       16309.000
9      10  data     17         585.293
10     10   sms     36          36.000
11     11  call     51        7542.000
12     11  data     18         619.722
13     11   sms     41          41.000
14     12  call     50        9245.000
15     12  data     19         654.151
16     12   sms     54          54.000

In [52]:
def cumulative(df):
    print("24. Calculate the cumulative sum of call durations over time.\n")
    
    df['date'] = pd.to_datetime(df['date'])
    calls = df[df['item'] == 'call'].sort_values('date')
    calls['cumulative_duration'] = calls['duration'].cumsum()
    return calls[['date', 'cumulative_duration']]

cumulative(df)

24. Calculate the cumulative sum of call durations over time.

                   date  cumulative_duration
1   2014-10-15 06:58:00                 13.0
2   2014-10-15 14:46:00                 36.0
3   2014-10-15 14:48:00                 40.0
4   2014-10-15 17:27:00                 44.0
5   2014-10-15 18:55:00                 48.0
..                  ...                  ...
784 2015-02-28 16:00:00              51614.0
785 2015-02-28 17:13:00              51625.0
786 2015-02-28 17:14:00              51628.0
787 2015-02-28 17:17:00              51661.0
788 2015-02-28 21:25:00              52018.0

[241 rows x 2 columns]

In [53]:
def continuous_sequence(df):
    print("25. Find the longest continuous sequence of calls from the same network.\n")
    
    max_streak = (df['network'] != df['network'].shift()).cumsum()
    streak_counts = max_streak.value_counts().max()
    print(streak_counts)

continuous_sequence(df)

25. Find the longest continuous sequence of calls from the same network.

19

In [54]:
def time_defference(df):
    print("26. Calculate the time difference between consecutive communications (requires datetime conversion).\n")
    
    df['date'] = pd.to_datetime(df['date'])
    df = df.sort_values('date')
    df['time_diff'] = df['date'].diff()
    calculation = df[['date', 'time_diff']]
    print(calculation)

time_defference(df)

26. Calculate the time difference between consecutive communications (requires datetime conversion).

                   date        time_diff
0   2014-10-15 06:58:00              NaT
1   2014-10-15 06:58:00  0 days 00:00:00
2   2014-10-15 14:46:00  0 days 07:48:00
3   2014-10-15 14:48:00  0 days 00:02:00
4   2014-10-15 17:27:00  0 days 02:39:00
..                  ...              ...
825 2015-03-13 00:38:00 12 days 01:59:00
826 2015-03-13 00:39:00  0 days 00:01:00
827 2015-03-13 06:58:00  0 days 06:19:00
828 2015-03-14 00:13:00  0 days 17:15:00
829 2015-03-14 00:16:00  0 days 00:03:00

[505 rows x 2 columns]

In [55]:
def high_low_activity(df):
    print('27. Create a function to categorize days as "high activity" or "low activity" based on number of communications.\n')
    
    comms = df.groupby(pd.to_datetime(df['date']).dt.date).size()
    threshold = comms.mean()
    formula = comms.apply(lambda x: 'high activity' if x > threshold else 'low activity')
    print(formula)
    
high_low_activity(df)

27. Create a function to categorize days as "high activity" or "low activity" based on number of communications.

date
2014-10-15    high activity
2014-10-16    high activity
2014-10-17    high activity
2014-10-18    high activity
2014-10-19    high activity
                  ...
2015-02-26     low activity
2015-02-27     low activity
2015-02-28    high activity
2015-03-13     low activity
2015-03-14     low activity
Length: 91, dtype: object

In [56]:
def top_network(df):
    print("28. Calculate the network that was used most for each type of communication (call, sms, data).\n")
    
    highest_network = df.groupby('item')['network'].agg(lambda x: x.value_counts().idxmax())
    print(highest_network)

top_network(df)

28. Calculate the network that was used most for each type of communication (call, sms, data).

item
call       Three
data        data
sms     Vodafone
Name: network, dtype: object

In [57]:
def call_and_message(df):
    print("29. Find the ratio of outgoing calls to SMS messages for each network.\n")
    
    calls = df[df['item'] == 'call'].groupby('network').size()
    sms = df[df['item'] == 'sms'].groupby('network').size()
    ratio = (calls / sms).fillna(0)
    print(ratio)

call_and_message(df)

29. Find the ratio of outgoing calls to SMS messages for each network.

network
Meteor       1.409091
Tesco        5.100000
Three        1.588235
Vodafone     0.390805
landline     0.000000
special      0.000000
voicemail    0.000000
world        0.000000
dtype: float64

In [58]:
def summary_datafram(df):
    print("30. Create a summary DataFrame that shows for each network: total calls, total SMS, total duration, and average duration.\n")
    
    grouped = df.groupby('network').agg(
        total_calls=('item', lambda x: (x == 'call').sum()),
        total_sms=('item', lambda x: (x == 'sms').sum()),
        total_duration=('duration', 'sum'),
        avg_duration=('duration', 'mean')
    )
    print(grouped)

summary_datafram(df)

30. Create a summary DataFrame that shows for each network: total calls, total SMS, total duration, and average duration.

           total_calls  total_sms  total_duration  avg_duration
network
Meteor              31         22         4665.00     88.018868
Tesco               51         10        11658.00    191.114754
Three               81         51        21644.00    163.969697
Vodafone            34         87         7403.00     61.181818
data                 0          0         3098.61     34.429000
landline            26          0         5514.00    212.076923
special              0          1            1.00      1.000000
voicemail           18          0         1304.00     72.444444
world                0          3            3.00      1.000000